<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tws.repository.ParkingLotMapper">
    <select id="selectAll" resultType="tws.entity.ParkingLot">
        select * from `parkinglot`;
    </select>
    
    <insert id="insertParkingLot">
    	insert into parkinglot (parkingLotID,capacity,availablePositionCount,parkingBoyID)
    	values
    	(#{parkingLot.parkingLotID},#{parkingLot.capacity},
    	#{parkingLot.availablePositionCount},#{parkingLot.parkingBoyID})
    </insert>
    
    <select id="selectByParkingBoyID" resultType="tws.entity.ParkingLot">
        select * from `parkinglot`
        where
        parkingBoyID = #{parkingBoyID}
    </select>
</mapper>