<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tws.repository.ParkingBoyMapper">
    <select id="selectAll" resultType="tws.entity.ParkingBoy">
        select * from parkingboy;
    </select>
    
    <insert id="insertParkingBoy">
    	insert into parkingboy (parkingBoyID,parkingBoyName)
    	values
    	(#{parkingBoy.parkingBoyID},#{parkingBoy.parkingBoyName})
    </insert>
    
    <select id="selectByParkingBoyId" resultType="map">
        select parkingBoyID as "parkingBoyID" ,parkingBoyName as "parkingBoyName" from parkingboy
        where 
        parkingBoyID = #{parkingBoyID}
    </select>
    
</mapper>


